/.emacs.d/.cache/
/.emacs.d/.recentf
/.emacs.d/auto-save-list/
/.emacs.d/eln-cache/
/.emacs.d/elpa/
/.emacs.d/*.elc
/.emacs.d/*.el~
/.vim/autoload/
/.vim/dein/
/.vim/plugged/
/.vim/view/
/.vim/.netrwhist
